                   /* ROOT */
:root {
    text-decoration: none;
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #121a2b;
    --gray: #6b7280;
    --light: #eee;
    --blue: #4512d1;
    --cyan: #51dad3;
}  
               /* ALL (*) */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}



                  /* HTML */
html {
    position: relative;
    width: 100%;
    height: 100%;
}



                  /* BODY */
body {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    background: var(--darkest);
    color: var(--light);
}



                    /* HEADER */
header {
    position: relative;
    min-height: 50px;
}
.header-container{
    position: relative;
}
.header-box {
    position: relative;
    border: 2px solid black;
}
.header-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
.header-bg {
    position: relative;
    border: 2px solid black;
}



                 /* MAIN CONTENT */
main {
    position: relative;
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 2rem 1rem;
    max-width: 800px;
    margin: 0 auto;
}
.todo-list-container {
    position: relative;
    width: auto;
    height: auto;
    min-height: auto;
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 8%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}
.todo-list-heading {
    position: relative;
    display: flex;
    width: auto;
    height: 6rem;
    justify-content: center;
    margin: 0;
    /* border: 2px solid black; */
    font-size: 3.25rem;
    text-decoration: underline #32D675 0.1rem;
}
.todo-list-form {
    position: relative;
    display: flex;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    margin-top: 5rem;
}
input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
.todo-list-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
    box-shadow: 2px 2px 2px rgb(0, 0, 0); 
}
.todo-list-input::placeholder {
    color: var(--gray);
}
.todo-list-input-btn {
    color: var(--darkest);
    font-size: 1.25rem;
    font-weight: 700;
   /*  background-image: linear-gradient(to right, var(--blue), var(--cyan));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    cursor: pointer;
    transition: 0.4s;
    border-radius: 1rem;
    background: #32D675;
    padding: 0 15px 0 15px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0);  
}
.todo-list-input-btn:hover {
    opacity: 0.8;
}
.todo-list-input-btn:active {
    opacity: 0.6;
}
.todo-list {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.todo-list h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0.75rem;
}
#tasks .task {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--darker);
    padding: 0.65rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    transition: 0.4s ease;
}
#tasks .task .content {
    flex: 1 1 0%;
}
#tasks .task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
    margin-top: 12px;
}
#tasks .task .content .text:not(:read-only) {
    color: white;
}
#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}
.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.4s;
    padding: 0.7rem;
    border-radius: 1rem;
    margin-right: 1rem;
    box-shadow: 3px 3px 3px rgb(0, 0, 0); 
}
.task .actions button:hover {
    opacity: 0.8;
}
.task .actions button:active {
    opacity: 0.6;
}
.task .actions .edit {
 /*    background-image: linear-gradient(to right, var(--blue), var(--cyan));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    background: #32D675;
    border-radius: 1rem;
    font-weight: 700;
    color: #121A2B
    
}
.task .actions .delete {
    color: white;
    border-radius: 1rem;
    background: #C61335;
}
.actions {
    position: relative;
    display: flex;
}
                // ANIMATION
.delete:active {
    transform: translateY(0.2rem) rotate(0deg);
}
.todo-list-input-btn:active {
    transform: translateY(0.2rem) rotate(0deg);
}
.edit:active {
    transform: translateY(0.2rem) rotate(0deg);
}




                  /* FOOTER */
footer {
    position: relative;
    width: 100%;
    height: 4rem;
    min-height: 4rem;
    bottom: 0;
    margin-top: auto;
    border: 2px solid rgb(255, 0, 0);
}
.footer-container {
    position: relative;
    border: 2px solid black;
    width: auto;
    height: 100%;
    margin: 0;
}
.nav-box {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}
.nav-list {
    position: relative;
    width: auto;
    height: auto;
    display: inline-flex;
    list-style-type: none;
}
.nav-list-content {
    position: relative;
    width: auto;
    height: auto;
}